body {
    margin: 0;
    padding: 0;
    font-family: 'Imbue', serif;
    width: 100%;
    background-color:white;
}

.container { 
    background-color: blueviolet;
    border: 10px solid black;
    }

/* header */

#header {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    top: 0;
    left: 0;
    right: 0;
    height: auto;  
    background-color: white;
    }
#nav-bar {
    background-color: green;
    border: 5px solid;
    display: flex;
    position: static;
    align-items: center;
    width: 100%;
    
    }    

 /* VIDEO */ 
 #video {
display: flex;

 }
 
    #form-main {
        margin: 10px;
        background-color: blue;
        text-align: center;
        display: block;
        justify-content: center;
        
        align-items: center;
        height: 200px;
        margin: 80px 0px 0px;
    }

    #formmain h2 {
        margin-bottom: 30px;
        color: black;
        }

/*Footer */     

.footer {
    display: flex;
}