:root {
--main:  rgba(4, 78, 33, 0.836);
--secondary: rgba(1, 201, 90, 0.788);
--button: rgb(21, 201, 90);
--button-hover: rgb(11, 156, 67);
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Imbue', serif;
    line-height: 1.5em;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
}
.container { 
    text-align: center;    
}

/* HEADER */

#header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    height: auto;  
    background: linear-gradient(to bottom, rgba(4, 78, 33, 0.836) 0%, rgba(1, 201, 90, 0.788) 100%);
    z-index: 1;
    height: 10%;
    }

.logo {
    display: flex;
    align-items: center;
    font-size: 150%;
    font-weight: bold;
    padding: 5px;
    width: 30vw;
}
#header-img {
    width: 40px;
    height: auto;
}

/* Need to modify this, get rid of nav list, include it's styles to nav-bar*/
#nav-bar {
    padding: 5px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 25px;
    }    
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    width: 50vw;
}

@media (max-width: 800px) {    
        #header {
            flex-wrap: wrap;
            justify-content: flex-end;
            width: 100%;
            background-color: red;
            } 
        .logo {
            text-align: center;
            margin: auto;
            }
        
        #nav-bar {
            width: 100%;
            flex-direction: column;
        } 
        .nav-link {
            width: auto;
            padding: 5px;
            justify-content: center;
        }
        #form {
            padding: 0px;
        }
        h2 { 
            margin-top: 0;
        }
    }
/* Main */
.image-bg {
    background: url("images/fon2.jpg") round;
    height: 90vh;
   /* margin: 100px; */
   border: 100px solid var(--main);
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 200px;
    margin: 100px 0px 0px;
}
#form-main {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 220px;
        padding: 20px;
        
    }

#form > h2 {
        margin-bottom: 15px;
        color: var(--main);
        font-weight: bold;
        } 
#email {
width: 250px;
height: 25px;
border: 2px solid var(--main);
}
#submit {
max-width: 100px;
width: 100%;
height: 30px;
background-color: var(--button);

color: white;
cursor: pointer;
text-transform: uppercase;
font-weight: 800;
font-size: 0.8em;
}
#submit:hover {
    background-color: var(--button-hover);
    transition: background-color 1s;
}

        /* VIDEO */ 

#video-short {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 40px;
    }
iframe {
    border: var(--secondary) dashed 5px;
}
.video-par {
font-size: 150%;
margin-bottom: 10px;
color: white;
}
#features {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    /* border: 5px solid red; */
    padding: 10px 20px;
    background-color: rgba(26, 158, 14, 0.788);
}
.description {
display: flex;
justify-content: center;
/* width: 80%; */
text-align: center;
}
.description p {
    width: 80%;
    margin: 20px auto 20px auto ;
}
.description img {
    width: 50px;
    margin-left: 25px;
    height: 35px;
    align-self: auto;
    margin-top: 20px;
    padding: 10px;
}
@media (max-width: 700px) {
    .description {
        justify-content: center;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
    }
    .description img {
        padding: 5px;
		margin-left: 10px;
		width: 100%;
		align-self: auto;
		margin-top: 15px;
		margin-bottom: 15px;
    }
}
/* BOXES */
#boxes {
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px solid black;
}

#boxes #first, #boxes #second, #boxes #third {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100/3);
    border: 2px solid var(--main);
    border-radius: 3px;
    width: 15%;
    padding: 15px;
    margin: 15px;
    box-shadow: 3px 3px 3px 5px;
    /* list-style: none; */
}

.box-head {
    padding: 10px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    background-color: var(--secondary);
}

#boxes #first h2, #boxes #second h2, #boxes #third h2 {
margin-top: 15px;
}
#boxes #first ul, #boxes #second ul, #boxes #third ul {
    margin: 10px 0;
    list-style: none;
    }
#boxes #first ul li, #boxes #second ul li, #boxes #third ul li {
    padding: 5px;
        }


.button {
    max-width: 100px;
    width: 100%;
    height: 30px;
    background-color: rgb(21, 201, 90);
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1em;
}
.button:hover {
    background-color: rgb(11, 156, 67);
    transition: background-color 1s;
    }
/*Footer */     
#footer {
    margin-top: 25px;
    padding: 10px;
    display: block;
    width: auto;
   background: linear-gradient(to bottom, rgba(4, 78, 33, 0.836) 0%, rgba(1, 201, 90, 0.788) 100%);
    border-radius: 5px;
}
footer ul {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
}
footer span {
    font-size: 18px;
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    color: rgb(68, 65, 65);
}
.footer-ul {
    list-style: none;
}

a{ 
text-decoration: none;
padding: 10px;
text-decoration: none;
color: black;
font-weight: bold;
}