@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@200&display=swap');

body {
	background:white;
	color: #323232;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Imbue', serif;
}

.container {
margin-top: 48px;
background-color: blueviolet;
}
/* header */
#header {
	background-color: red;
	display: flex;
	position: fixed;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;  
}

.logo {
	display: flex;
	align-items: center;
	font-size: 130%;
}

#nav-bar {
	background-color: green;
	border-radius: 2px solid;
	display: flex;
	align-items: center;
	width: 40%;
	margin-right: 40px;
}
.nav-link {
	padding: 10px;
	color: aqua;
	font-weight: ;
}
a {
	text-decoration: none;
	padding: 5px;
}
@media (max-width: 1000px) {
	/* Add later */
}

/* main */


#formmain {
	background-color: blue;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 200px;
	margin-top: 100px;
}

#formmain h2 {
margin-bottom: 30px;
color: black;
}
#form {
	display: block;
}

/* footer */
