* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Imbue', serif;
    width: 100%;
    background-color:white;
    display: flex;
    flex-direction: column;
    /* box-sizing: content-box; */
}

.container { 
    background-color: blueviolet;
text-align: center;    
}

/* header */

#header {
    display: flex;
    border: 5px brown;
    position: fixed;
    justify-content: space-around;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;  
    background-color: white;
    }
.logo {
    border: 5px solid black;
    margin: 0;
    padding: 5px;
    margin-left: -60px
}
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
#nav-bar {
    padding: 5px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    flex-direction: row;
    }    


 /* VIDEO */ 
#video { 
display: flex;

}

#form-main {
        background-color: blue;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 220px;
        margin: 90px 0px 0px;
        padding: 20x;
        border: 2px solid red;
    }

section > h2 {
        margin-bottom: 30px;
        color: red;
        }

/*Footer */     

.footer {
    display: flex;
}